/** ELEMENT POSITIONS **/
#marqeta {top:25em;left:40em;}
#payment {top:5em;left:40em;}
#mobile {top:25em;left:10em;}
#web {top: 40em; left:28em;}
#ipad {top: 25em; left:75em;}
#satellite {top: 40em; left:52em;}
#resque {top: 15em; left:25em;}
#gateway {top: 15em; left:60em;}
