/** ELEMENT POSITIONS **/
#marqeta_api {top:10em;left:20em;}
#payment_api {top:10em;left:60em;}
#merchant_portal {top:10em;left:40em;}
#browser {top: 40em; left:40em;}
#proxy {top: 25em; left:40em;}

